<?php
/**
 * IDEALIAGroup srl
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@idealiagroup.com so we can send you a copy immediately.
 *
 * @copyright  Copyright (c) 2016 IDEALIAGroup srl (http://www.idealiagroup.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/** @var $block \Blendee\Connector\Block\Tracking */
?>
<?php if ($block->isEnabled()) : ?>
    <script>
        window._sbnaq = [];

        <?php echo $block->getChildHtml(); ?>
    </script>
    <script type="text/x-magento-init">
        {
            "*": {
                "blendee": {
                    "version": "<?php echo $block->getVersion() ?>",
                    "locale": "<?php echo $block->getSiteLanguage() ?>",
                    "siteId": "<?php echo $block->getSiteId() ?>",
                    "catalogId": "<?php echo $block->getCatalogId() ?>",
                    "trackingUrl": "<?php echo $block->getTrackingUrl() ?>",
                    "pageType": "<?php echo $block->getPageType() ?>",
                    "customerInfoUrl": "<?php echo $block->getCustomerInfoUrl() ?>",
                    "actionsQueueUrl": "<?php echo $block->getActionsQueueUrl() ?>",
                    "CurrentCurrencyCode": "<?php echo $block->getStoreCurrentCurrency()?>"
                }
            }
        }
    </script>
<?php endif; ?>
